<div class="full-container">
    <mat-toolbar data-cy="toolbar" color="primary" class="toolbar">
      <a
      routerLink=""
      style="text-decoration:none; color: white"
      >
        <h1 class="app-name">My Flights App</h1>
      </a>
      <button mat-icon-button data-cy="burger" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav data-cy="sidenav" #snav mode="over" position="end">
        <mat-nav-list>
          
          <ng-template
          [ngIf]="isAuthenticated()">
            <a
            mat-list-item
            routerLink="{{nav.link}}"
            (click)="snav.toggle()"
            *ngFor="let nav of pages.loggedin"
            ><mat-icon>{{nav.icon}}</mat-icon> {{nav.text}}</a>
          </ng-template>

          <ng-template
          [ngIf]="!isAuthenticated()">
            <a
            mat-list-item
            routerLink="{{nav.link}}"
            (click)="snav.toggle()"
            *ngFor="let nav of pages.loggedout"
            ><mat-icon>{{nav.icon}}</mat-icon> {{nav.text}}</a>
          </ng-template>

          <a mat-list-item
          *ngIf="isAuthenticated()"
          (click)="onLogout(); snav.toggle()"
          ><mat-icon>power_settings_new</mat-icon> Log out</a>

        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <mat-progress-bar *ngIf="showSpinner()" mode="indeterminate"></mat-progress-bar>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  
