

.gallery-container
  margin: 16px 0
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
  grid-gap: 10px
  mat-card-actions
    display: flex
    justify-content: space-around
    // a
      // color: black
  mat-card-content
    p
      margin: 7px 0