<app-status-message></app-status-message>
<div data-cy="gallery-container" class="gallery-container"><div *ngFor="let flight of flights">
    <mat-card class="flight-card">
        <mat-card-header>
          <!-- <div
            mat-card-avatar
            class="flight-header-image"
            style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover"
          ></div> -->
          <mat-card-title data-cy="card-title">
            <span *ngIf="flight.aircraft">{{flight.aircraft}}</span>
          </mat-card-title>
          <!-- <mat-card-subtitle>{{flight.n}}. {{flight.date.format("D MMM YYYY")}}</mat-card-subtitle> -->
          <mat-card-subtitle>
            <span *ngIf="flight.airline">{{flight.airline}}</span>
            <span *ngIf="flight.registration"> - {{flight.registration}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <!-- <a matTooltip="All details" matTooltipPosition="above" routerLink="/flights/{{flight.n}}">
          <img mat-card-image src="{{flight.photo}}" alt="Aircraft photo">
        </a> -->
        <img
          data-cy="mat-card-img"
        style="cursor: pointer"
        matTooltip="All details"
        matTooltipPosition="below"
        routerLink="/flights/{{flight.n}}"
        mat-card-image src="{{flight.photo}}"
        alt="{{flight.aircraft}}">
        <mat-card-content>
          <p *ngIf="flight.date">
            <b>{{flight.n}}.</b> {{flight.date.format("D MMM YYYY")}}.
          </p>
          <p *ngIf="flight.flight">
            Flight {{flight.flight}}.
          </p>
          <p *ngIf="flight.origin || flight.destination">
            From {{flight.origin}} to {{flight.destination}}
          </p>
          <p *ngIf="flight.name">
            <b>Aircraft name:</b> {{flight.name}}.
          </p>
          <p *ngIf="flight.ff">
            <b>First flight:</b> {{flight.ff.format("D MMM YYYY")}}.
          </p>
          <p *ngIf="flight.age">
            <b>Age at the flight:</b> {{humanizeAge(flight.age)}}
          </p>
          <p *ngIf="flight.msn">
            <b>Manufacturer Serial Number:</b> {{flight.msn}}.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
          matTooltip="Edit"
          matTooltipPosition="above"
          mat-icon-button
          routerLink="/flights-manager/{{flight.n}}/edit">
            <mat-icon>edit</mat-icon>
          </a>
          <a
          matTooltip="Copy"
          matTooltipPosition="above"
          mat-icon-button
          routerLink="/flights-manager/{{flight.n}}/copy">
            <mat-icon>library_add</mat-icon>
          </a>
          <a
          matTooltip="All details"
          matTooltipPosition="above"
          mat-icon-button
          routerLink="/flights/{{flight.n}}">
            <mat-icon>fullscreen</mat-icon>
          </a>
          <a
          matTooltip="Open aircraft profile"
          matTooltipPosition="left" 
          *ngIf="flight.link"
          mat-icon-button
          href="{{flight.link}}"
          target="_blank"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
          <a
            matTooltip="Search aircraft on planespotters.com"
            matTooltipPosition="left"
            *ngIf="flight.registration"
            mat-icon-button
            href="{{searchLink(flight.registration)}}"
            target="_blank"
          >
            <mat-icon>search</mat-icon>
          </a>

        </mat-card-actions>
      </mat-card></div>
</div>
